.poster:first-of-type{
    height: 70vh;
    
    background-image: url("../../assets/images/first_bg_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.poster__content{
    width: 70%;
}

.poster__title{
    margin-top: 5px;
    margin-bottom: 15px;

    font-size: 84px;
    font-weight: 700;
    font-family: "LatoExtraBold";
}

.poster__subtitle{
    font-size: 24px;

    margin-bottom: 25px;
}

.poster__text{
    font-size: 18px;
}

.poster__button{
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;
    
    font-size: 18px;
    font-family: "LatoRegular", sans-serif;
    
    padding: 10px 20px;
    padding-right: 52px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.poster__button img{
    position: absolute;
    right: 2%;
}

.how__to__find__us {
    display: flex;
    flex-direction: row;
}

.info {
    width: 40%;
    background-color: #FAC663;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

.info__main_title {
    font-family: "RubikBold";
    font-weight: 700;
    font-size: 36px;
}

.info__title {
    font-family: "LatoBold";
    font-weight: 700;
    font-size: 16px;
}

.info__text {
    font-family: "LatoRegular";
    font-weight: 400;
    font-size: 16px;
}

.info__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social__media {
    display: flex;
    flex-direction: row;
    gap: 20px;

    cursor: pointer;
}

.info__image {    
    width: 22px;
    height: 22px;
}

.map {
    width: 60%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}